.ccontainer {
  display: flex;
}
@media (min-width: 300px) and (max-width: 800px) {
  .ccontainer {
      display: block;
  }
  .forgot {
    margin-top: 70px;
  }
  .forgotPass {
    margin-top: 20px;
  }
  img {
      /* width: 20%; */
      margin-top: -45rem;
      margin-left: 20px;
  }
  .login {
      font-size: 1px;
  }
  .div{
      padding: 8px;
      height: auto;
  }
}