* {
  padding: 0;
  margin: 0;
}

.title {
  color: gray;
}

.card {
  padding: 15px;
}
.inputText {
  width: 11rem;
}
@media (max-width: 991px) {
  .inputText {
    width: 17em;
  }

  .card {
    padding: 5px;
  }
}
