* {
    padding: 0;
    margin: 0;
  }
  .pilih {
    width: 40%;
  }
  .filter-data-p {
    width: 50%;
    margin-left: 15em;
  }

  .tabel-payment {
    margin-top:  1em;
  }
  @media(max-width: 600px) {
    .texttt{
        font-size: 20px;
    }
      .pilih {
        width: 80%;
        margin-left: 5px;
    
      }
      .tabel-payment {
        margin-top: 0;
      }
      .filter-data-p {
        width: 100%;
        margin-left: 0;
      }
    
      .edit {
        margin-left: 9.5em;
        position: absolute;
      }
      .hapus {
        margin-left: 4.5em;
        width: 2.8em;
        position: relative;
      }
      .option-select {
        font-size: 12px;
      }
 
    tbody {
        text-align: left;
    }
   
    .td {
        padding-right: none;
        display: flex;
        justify-content: left;
    }
   .responsive-3 {
        width: 100%;
    } 
   
    th {
        display: none;
    }
    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75em 1rem;
    }
    td:first-child{
        padding-top: 2rem;
    }
   
    td::before{
        content: attr(data-cell) "  : ";
        font-weight: bold;
    }
    th{
        font-weight: bold;
    }
}