.ccontainer {
  display: flex;
}
@media (min-width: 300px) and (max-width: 800px) {
  .ccontainer {
    display: block;
  }
  .forgot {
    margin-top: -50px;
  }
  .forgotPass {
    margin-top: 0px;
  }
  .images {
    /* width: 20%; */
    margin-top: -45rem;
    margin-left: 20px;
    display: none;
  }
  .login {
    font-size: 1px;
  }
  .div {
    padding: 8px;
    height: auto;
  }
}
