.readonly {
    display: flex;
    justify-content: center;
    gap: 5%;
}
.readonly1 {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.readonly2 {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.responsive-3 {
    overflow-y: auto;
}
.tdd {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding-right: 50px;
}
.table-container {
    max-width: 100%;
    overflow-x: auto;
}
.table1 {
    text-align: center;
    background: #9DB2BF;
}
.edit1 {
    padding: 2px 10px 2px 10px;
    background: blue;
    color: white;
    font-size: 15px;
}
tbody {
    text-align: center;
}
.listTagihan {
    margin-left: 4px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
}
@media(max-width: 600px) {
    .listTagihan{
        font-size: 15px;
    }
    .tdd{
        justify-content: left;
        padding-right: none;
    }
    tbody {
        text-align: left;
    }
    .readonly2 {
        gap: 10px;
    }
    .readonly {
        display: block;
    }
    .bungkus {
        width: 100%;
    }
    .td {
        padding-right: none;
        display: flex;
        justify-content: left;
    }
   .responsive-3 {
        width: 100%;
    } 
    /* .responsive-3 thead th.column-primary {
        width: 100%;
    }  */
 
    /* .responsive-3 thead th.column-primary {
        display:none;
    } */

    /* .responsive-3 th {
        display: block;
        width: auto;
        text-align: justify;
        border-right: 1px solid #e1edff;
    }
     
    .responsive-3 td {
        display: block;
        width: auto;
        text-align: justify;
        border-right: 1px solid #e1edff;
    }
    .responsive-3 thead th::before {
        text-transform: uppercase;
        font-weight: bold;
        content: attr(data-header);
    }
    .responsive-3 thead th:first-child span {
        display: none;
    }
    .responsive-3 td::before {
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        content: attr(data-header);
    } */
    th {
        display: none;
    }
    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75em 1rem;
    }
    td:first-child{
        padding-top: 2rem;
    }
    /* td:last-child{
        padding-bottom: 2rem;
    } */
    td::before{
        content: attr(data-cell) "  : ";
        font-weight: bold;
    }
}