.selectt {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-top: -11px;
    margin-bottom: 8px;
}

.ccontainer {
    display: flex;
}
.login {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 800px) {
    .ccontainer {
        display: block;
    }
    img {
        width: 80%;
    }
    .login {
        font-size: 1px;
    }
    .div{
        padding: 8px;
        height: auto;
    }
}

/* @media screen and(min-width: 320px) {
    .ccontainer {
        display: block;
    }
} */