.button {
    background-color: #007bff;
    margin-top: 2%;
    margin-left: 70%;
    color: azure;
}

.text {
    color: red;
}

.transparent-card {
    background-color: transparent !important; /* Membuat background transparan */
    border: none !important; /* Menghilangkan border */
    box-shadow: none !important; /* Menghilangkan shadow */
  }
  
  .transparent-card .transaction-summary {
    background-color: rgba(255, 255, 255, 0.1); /* Konten kartu dengan transparansi */
  }
  
  .notification-screen .button {
    background-color: #007bff; /* Sesuaikan warna tombol */
    color: #fff;
    border: none;
  }
  
  .notification-screen .button:hover {
    background-color: #0056b3; /* Warna lebih gelap saat hover */
  }
  